/* 
    Title: Shockley-alphabet-game.css
    Author: Conner Shockley
    Date: 3/1/2021
    Description: Styling for the Shockley-card-game.html page.
*/

.player-card {
    text-align: center;
    width: 20%;
    padding: 10px;
    height: 200px;
    display: inline-block;
}