/* 
    Title: Shockley-alphabet-game.css
    Author: Conner Shockley
    Date: 3/1/2021
    Description: Styling for the Shockley-card-game.html page.
*/

.player-card {
    text-align: center;
}

#player-cards {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    grid-gap: 10px 10px;
}

.card {
    margin-right: auto;
    margin-left: auto;
}