/* 
    Title: Shockley-payroll.css
    Author: Conner Shockley
    Date: 1/16/2021
    Description: CSS styling for the Assignment 3.2 page(Shockley-temp-conversion.html).
*/

/* 
    Center aligns and increases font-size to 28px of the card-content id.
*/
#card-content {
    text-align: center;
    font-size: 28px;
}